@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
body {
    background: url(../images/background2.png);
    margin: 0;
}

.card {
    width: 400px;
    margin: 20px auto;
    background-color: #20292e;
    background: linear-gradient(to right bottom, #20292e, #5b6e75);
    box-shadow: 5px 5px 15px #131313cb;
    border-radius: 10px;
    padding: 10px;
    display: block;
}

.card-img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 10px solid snow;
    margin: 0 auto;
    display: block;
}

.card-title {
    font-size: 40px;
    font-family: 'Comforter Brush', cursive;
    text-align: center;
    font-weight: lighter;
    margin: 0px;
    color: snow;
}

.card-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    color: #8c9faa;
    text-align: center;
}

.card-list {
    list-style-position: inside;
    text-align: left;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: #8c9faa;
}

.card-form {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    color: #8c9faa;
}

a {
    text-decoration: none;
    color: #8c9faa;
}

a:hover {
    text-decoration: underline;
    color: snow;
}

.card-links {
    font-size: 20px;
    color: #8c9faa;
    text-align: center;
    padding: 0px;
}

.table {
    width: 100%;
    text-align: center;
    color:#8c9faa;
}

table td {
    padding-bottom: 5px;
    border: #20292e 1px solid;
}

table td:nth-child(1) {
    font-weight: bold;
}

.table tr th {
    border:#20292e 2px solid;
    color:#20292e;
}

.card-form label {
    display: block;
}

.card-form input, textarea {
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color:#5b6e75;
}

.card-form input:hover, textarea:hover {
    box-shadow: 2px 2px 14px#ffffff;
}

.input-row {
    display: flex;
    margin: 10px 10px;
    justify-content: space-around;
}

.button {
    padding: 7px;
    margin-top: 7px;
    cursor: pointer;
}
.button:hover {
    box-shadow: 2px 2px 14px#ffffff;
}